requests 
beautifulsoup4
langchain
langchainhub 
groq 
langchain
langchain-core
python-dotenv
streamlit
langchain-text-splitters
langchain-community
faiss-cpu
groq
langchain-groq
sentence-transformers
